<style>
.dropbtn {
    color: #0b7dda;
    border: 2px solid #0b7dda;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #0b7dda;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color:#0b7dda}

.show {display:block;}
</style>


<div class="col-md-8 col-md-offset-2 text-center">
  <a class='button' href="/">Home</a>
  <%if(role == 'teacher' || role == 'academic' || role == 'headmaster'){%>
    <a class='button' href="students">Students</a>
  <%}if(role == 'academic' || role == 'headmaster'){%>
    <a class='button' href="subjects">Subjects</a>
  <%}if(role == 'headmaster'){%>
    <a class='button' href="teachers">Teachers</a>
  <%}if(role == ''){%>
    <a class='button' href="login">Login</a>
    <a class='button' href="signup">Signup</a>
  <%}if(role !== ''){%>
    <a class='button' href="logout">Logout</a>
  <div class="dropdown">
  <button  onclick="myFunction()" class="dropbtn button">Add</button>
    <div id="myDropdown" class="dropdown-content">
      <a class='button' href="subjects/add">Subject</a>
      <a class='button' href="students/add">Student</a>
      <a class='button' href="teachers/add">Teachers</a>
    </div>
  </div>
  <%}%>
</div>







<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
