<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%-include layouts/header %>
     <link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
  </head>
  <body>
    <h2 class="text-center">Welcome to My Website</h2>
    <%- include layouts/menu-bar%>
  </body>
</html>
