<form action="/students" method="post">
  <input type="text" name='first_name' placeholder="First Name">
  <input type="text" name='last_name' placeholder="Last Name">
  <input type="text" name='email' placeholder="Email">
  <button type="submit">Submit</button>
</form>
