<table border="1">
  <tr>
    <td>Subject Name</td>
    <td>Teacher Name</td>
    <td>Action</td>
  </tr>
<% data.forEach(row => { %>
  <tr>
    <td ><%= row.subject_name%></td>

    <td>
      <% row.first_name.forEach(name =>{%>
        <%= name%><br>
      <% })%>
      </td>
    <td><a href="/subjects/enroll/<%= row.id%>">Enrolled Student</a></td>
  </tr>
<%})%>
</table>
