<form action="/teachers" method="post">
  <input type="text" name='first_name' placeholder="First Name">
  <input type="text" name='last_name' placeholder="Last Name">
  <input type="text" name='email' placeholder="Email">
  <select name="SubjectId">
    <% data.forEach( row => {%>
      <option value="<%= row.id%>"><%= row.subject_name%></option>
    <%})%>
  </select>
  <button type="submit">Submit</button>
</form>
