.button_3 {
  float: right;
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_3:hover {
    background-color: #0b7dda;
    color: white;
    padding-left: 45px;
}

.button_2{
  text-align: center;
  background-color: white;
  color: #0b7dda;
  /*border: 1px solid #0b7dda;*/
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: 0.75s;
}

.button_2:hover {
    background-color: #0b7dda;
    color: white;
}

.button_del{
  text-align: center;
  background-color: white;
  color: #f44336;
  /*border: 1px solid #0b7dda;*/
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: 0.75s;
}

.button_del:hover {
    background-color: #f44336;
    color: white;
}

.button {
  text-align: center;
  background-color: white;
  color: #0b7dda;
  border: 2px solid #0b7dda;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  margin-top: 25px;
  width: 120px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

.button:hover {
    background-color: #0b7dda;
    color: white;
    width: 140px;



    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    .dropdown {
        float: right;
        position: relative;
        display: inline-block;

    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 0;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #f1f1f1}

    .show {display:block;}
